:root {
  --primary-color: #007bff;
  --hover-primary-color: #0056b3;
  --background-color: #f0f0f0;
  --text-color: #333;
  --button-background-color: var(--primary-color);
  --button-hover-background-color: var(--hover-primary-color);
  --button-text-color: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  display: flex;
  margin: 20px;
}

.content {
  flex: 3;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.content:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  margin-left: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sidebar-section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-section:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
}

.progress-bar-inner {
  background-color: var(--primary-color);
  height: 100%;
  width: 85%; /* Example width */
  border-radius: 10px 0 0 10px;
}

.chart-container {
  position: relative;
  height: 200px;
  width: 100%;
}

.chart {
  width: 100%;
  height: 100%;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #ddd;
  color: #333;
}

footer p {
  margin: 5px 0;
}

.word-card {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.word-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.word-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.word-card ul {
  list-style-type: disc;
  padding-left: 20px;
}

.word-card ul li {
  margin-bottom: 5px;
}

.word-card p {
  margin-bottom: 10px;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.options-container button {
  padding: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options-container button:hover {
  background-color: var(--button-hover-background-color);
}